{% assign sidebar_to_use = page.sidebar | default: site.data.default_sidebar %}

{% if page.author_profile or layout.author_profile or sidebar_to_use %}
  <div class="sidebar sticky">
    {% if page.author_profile or layout.author_profile %}
      {% include author-profile.html %}
    {% endif %}

    {% if sidebar_to_use %}
      {% for s in sidebar_to_use %}
        {% if s.image %}
          <img src="{{ s.image | relative_url }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
        {% endif %}
        {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
        {% if s.text %}{{ s.text | markdownify }}{% endif %}
        {% if s.nav %}{% include nav_list.html nav=s.nav %}{% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endif %}

